    @import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
    @import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
    @import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
    @import "../bower_components/flexslider/flexslider.css";
    @import "../bower_components/font-awesome/css/font-awesome.min.css";
    @import "../bower_components/fancyBox/source/jquery.fancybox.css";
    @import "../bower_components/swiper/dist/css/swiper.min.css";
    @import "../bower_components/smart-app-banner/smart-app-banner.css";
    /* Bootstrap Variables Goes Here */
    
    $brand-primary: #4e4c75 !default;
    $brand-success: #84ce3c !default;
    $brand-warning: #ffec39 !default;
    $brand-danger: #fc483f !default;
    $brand-info: #000072 !default;
    $bg-primary:#676588!default;
    @import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
    @font-face {
        font-family: "lato";
        src: url("../fonts/Lato-Regular.ttf");
    }
    
    @font-face {
        font-family: "raleway";
        src: url("../fonts/Raleway-Regular.ttf");
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "lato";
    }
    
    .purple-btn {
        background-color: $bg-primary;
        color: #fff;
        &:hover {
            color: #fff;
        }
        &:focus {
            color: #fff;
        }
    }
    
    body {
        padding-top: 70px;
    }
    
    img.loading {
        text-align: center;
        opacity: 1;
        width: 32px !important;
        height: auto;
    }
    
    img {
        opacity: 0;
        @include transition(all 300ms ease);
    }
    
    img.doneLoading {
        opacity: 1;
    }
    
    nav li:hover .dropdown-menu {
        display: block;
    }
    
    #map img {
        opacity: 1;
    }
    
    .btn,
    [ui-sref],
    a {
        cursor: pointer;
        @include transition(all ease 300ms);
    }
    
    .row-flex {
        @include display(flex);
    }
    
    .col-flex {
        @include flex(1);
    }
    
    .inline-blk {
        display: inline-block;
    }
    
    header {
        .headA {
            line-height: 20px !important;
            padding: 3px 20px !important;
            color: #a7a7a7;
        }
        .headB {
            line-height: 20px !important;
            padding: 3px 20px !important;
            color: #a7a7a7;
        }
        .navbar-brand {
            padding: 0;
            height: initial;
        }
        li {
            position: relative;
            padding: 22px 0px;
            text-transform: uppercase;
            /*border-bottom: 4px solid red;*/
            /*&:active {
                border-bottom: 4px solid red;
            }*/
            &:last-child(0) {
                i {
                    display: none;
                }
            }
        }
        i {
            position: absolute;
            right: -4px;
            top: 43%;
            font-size: 8px !important;
            color: #a7a7a7;
        }
        .collection-list {
            padding: 0;
            li {
                padding: 0 !important;
            }
            a {
                padding: 18px 10px !important;
            }
        }
        .dash {
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #4e4c75;
            bottom: 0;
        }
    }
    
    footer {
        background-color: #ebebeb;
        padding-top: 5%;
        h1 {
            color: $brand-primary;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 0;
        }
        .comp-desc {
            font-size: 14px;
            text-align: justify;
            color: #525252;
            padding-right: 50px;
        }
        h4 {
            color: $brand-primary;
            font-weight: bold;
            margin-bottom: 36px;
            margin-top: 0;
        }
        .quick-link {
            color: #525252;
            &:hover {
                text-decoration: none;
                color: #525252;
            }
        }
        .list {
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #bbb;
        }
        .quick-link-group {
            padding-right: 60%;
        }
        .contact-links {
            li {
                background-repeat: no-repeat;
                background-position-y: 6px;
                background-size: 12px;
                padding: 10px 0;
                &:first-child {
                    background-image: url("../img/map-marker.png");
                    background-position-x: 4px;
                }
                &:nth-child(2) {
                    background-image: url("../img/iphone.png");
                    background-position-x: 4px;
                }
                &:nth-child(3) {
                    background-image: url("../img/phone2.png");
                    background-size: 20px;
                    background-position-y: 12px;
                }
                &:nth-child(4) {
                    background-image: url("../img/envelope.png");
                    background-size: 20px;
                    background-position-y: 12px;
                }
                &:nth-child(5) {
                    background-image: url("../img/at-sign.png");
                    background-size: 20px;
                    background-position-y: 12px;
                }
            }
            .contact-item {
                padding-left: 40px;
                &:hover {
                    text-decoration: none;
                }
            }
            address {
                color: #525252;
                ;
            }
        }
    }
    
    .flex-direction-nav {
        display: none;
    }
    
    .pad-rem {
        padding-left: 0;
        padding-right: 0;
    }
    
    //bootstrap forms
    .btn,
    .form-control,
    .input-group-lg>.form-control,
    .input-group-lg>.input-group-addon,
    .input-group-lg>.input-group-btn>.btn,
    .input-lg {
        border-radius: 0;
        @include box-shadow(none);
    }
    
    .form-control:focus {
        border-color: $brand-primary;
        outline: 0;
        @include box-shadow(none);
    }
    
    .form-group {
        position: relative;
    }
    
    .form-invalid {
        color: $brand-danger;
        .form-control {
            border-color: $brand-danger;
            color: $brand-danger;
            &::-webkit-input-placeholder {
                color: $brand-danger;
            }
        }
    }
    
    .form-submission {
        min-height: 300px;
    }
    
    //FLEX SLIDER FIXES
    .flex-direction-nav {
        a {
            height: auto;
        }
        .flex-prev {
            left: 10px !important;
        }
        .flex-next {
            right: 10px !important;
        }
    }
    
    //SWIPER CSS
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        background-image: url("../img/prev.png");
    }
    
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        background-image: url("../img/next.png");
    }
    /* Start writing sass here */
    
    .content {
        min-height: 450px;
    }
    
    .full-img {
        width: 100%;
        display: block;
    }
    
    ///CSS START EURO FLOOR
    .navbar-default {
        background-color: #ffffff !important;
        border-color: #ffffff !important;
    }
    
    .flexslider {
        border: none !important;
    }
    
    .events {
        position: relative;
        cursor: pointer;
        &:hover {
            .over-layer {
                display: block;
            }
        }
        .over-layer {
            display: none;
            background-color: rgba(63, 0, 255, 0.55);
            height: 100%;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    .events:hover .over-layer {
        display: block;
    }
    
    .client-descp:before {
        content: "\f10d"!important;
        top: 0;
        left: -20px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 16px;
    }
    
    .client-descp:after,
    .client-descp:before {
        width: 16px;
        height: 10px;
        position: absolute;
    }
    
     :hov .cls .client-descp:after {
        content: "\f10e";
        right: 0;
        bottom: 0;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 16px;
    }
    
    .client-descp:after,
    .client-descp:before {
        width: 16px;
        height: 10px;
        position: absolute;
    }
    
    .pad18 {
        padding: 22px 0px;
    }
    
    //home-page
    .home-page {
        .banner {
            .flexslider {
                margin-bottom: 0 !important;
            }
            .flex-control-nav {
                z-index: 222;
                bottom: 25px;
                a {
                    background-color: #8E9092;
                }
                .flex-active {
                    background-color: #fff;
                }
            }
            .item {
                position: relative;
                text-align: center;
            }
            .links {
                position: absolute;
                width: 100%;
                top: 30%;
            }
            .head1 {
                color: #fff;
            }
            .head2 {
                color: #fff;
                font-weight: bold;
            }
            hr {
                background-color: #fff;
                width: 100px;
                height: 2px;
            }
            .banner-btn {
                color: #fff;
                background-color: transparent;
                border: 1px solid #fff;
                margin-top: 20px;
                font-family: lato;
                padding: 10px 25px;
                &:focus {
                    border: 1px solid #fff;
                }
            }
        }
        .what-we-do {
            .content {
                padding-left: 15%;
                position: relative;
                .img-holder {
                    position: relative;
                    height: 220px;
                    width: 300px;
                    padding-left: 60px;
                    margin-top: 25%;
                }
                .title {
                    position: absolute;
                    left: 0;
                    top: 12%;
                    h1 {
                        font-weight: bold;
                    }
                    .head1 {
                        color: $brand-primary;
                        margin-bottom: 0;
                        // margin-bottom: 0;
                    }
                    .head2 {
                        margin-top: 10px;
                        margin-top: 0;
                    }
                }
                .what-img {
                    position: absolute;
                    position: absolute;
                    left: -11%;
                    top: 65%;
                    width: 431px;
                }
                .content-slider {
                    .flex-control-nav {
                        a {
                            background-color: #C9C9C9;
                            opacity: 0.1;
                        }
                        .flex-active {
                            background-color: #8E9092;
                        }
                    }
                    .flexslider {
                        background-color: transparent;
                    }
                    h4 {
                        font-weight: bold;
                        color: $brand-primary;
                    }
                    hr {
                        height: 2px;
                        background-color: #c9c9c9;
                        align: left;
                        width: 22%;
                        margin: 0;
                        margin-bottom: 20px;
                    }
                    p {
                        text-align: justify;
                        color: #343434;
                        font-family: raleway;
                        background-color: transparent;
                    }
                }
            }
            .we-do {
                position: relative;
                .img-slider {
                    padding: 30% 10% 15% 15%;
                    z-index: 333;
                }
                .we-do-img {
                    position: absolute;
                    right: 0;
                    bottom: 60px;
                    width: 460px;
                }
                .flex-control-nav {
                    z-index: 222;
                    bottom: 25px;
                    a {
                        background-color: #8E9092;
                    }
                    .flex-active {
                        background-color: #fff;
                    }
                }
                .img-holder {
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
    
    .our-process {
        background-color: #676588;
        .process-content {
            padding: 10% 20%;
            position: relative;
            .img-holder {
                position: relative;
                height: 250px;
                width: 300px;
                padding-left: 60px;
            }
            .title {
                position: absolute;
                left: 0;
                top: 12%;
                h1 {
                    font-weight: bold;
                }
                .head1 {
                    color: #fff;
                    margin-bottom: 0;
                    // margin-bottom: 0;
                }
                .head2 {
                    margin-top: 10px;
                    color: #b5b5b5;
                    margin-top: 0;
                }
            }
            .description {
                text-align: justify;
                color: #fff;
                margin-bottom: 95px;
                font-family: raleway;
            }
            .our-img {
                position: absolute;
                width: 290px;
                top: 40%;
                margin-left: -20%;
            }
            .process-img {
                width: 670px;
                margin-left: -33%;
                margin-bottom: 38px;
            }
        }
        .side-image {
            background-image: url("../img/side-img.jpg");
            background-size: cover;
            padding: 10% 5% 10% 0;
            .row1 {
                margin-bottom: 10%;
            }
            .process-steps {
                opacity: 0.9;
                background-color: #fff;
                padding: 15% 5%;
                margin-left: -15%;
            }
            .step-img {
                width: 15%;
                float: left;
            }
            .step-content {
                width: 85%;
                float: left;
                padding-left: 18px;
                h4 {
                    color: #525252
                }
                p {
                    text-align: justify;
                    color: #525252;
                    font-family: raleway;
                }
            }
        }
    }
    
    .our-product {
        .product-title {
            padding: 10% 10% 10% 20%;
            position: relative;
            .img-holder {
                position: relative;
                height: 250px;
                width: 300px;
                padding-left: 60px;
            }
            .title {
                position: absolute;
                left: 0;
                top: 12%;
                h1 {
                    font-weight: bold;
                }
                .head1 {
                    color: $brand-primary;
                    margin-bottom: 0;
                    // margin-bottom: 0;
                }
                .head2 {
                    margin-top: 10px;
                    margin-top: 0;
                }
            }
            .our-img {
                width: 290px;
                margin-left: -39%;
                margin-bottom: 35%;
            }
            .product-img {
                width: 570px;
                margin-left: -39%;
            }
        }
        .design-range {
            position: absolute;
            right: 0;
            bottom: 15%;
            text-align: right;
            padding-right: 60px;
            p {
                color: #999999;
                font-weight: bold;
                margin-bottom: 25px;
                cursor: pointer;
                &:hover {
                    color: $brand-primary;
                }
            }
        }
        .flex-holder {
            position: relative;
            /*&:hover {
                .black-box {
                    display: block;
                }
            }*/
            .black-box {
                top: 0;
                opacity: 0.2;
                background: #000;
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: pointer;
                /*img {
                    margin: 40% auto;
                    height: 60px;
                }*/
            }
            .collection-name {
                position: absolute;
                font-size: 34px;
                color: #fff;
                bottom: 8%;
                width: 100%;
                text-align: center;
            }
        }
        .social-icons {
            text-align: right;
            padding-right: 50px;
            margin-top: 10%;
            .img-hold {
                display: inline-block;
                margin: 10px;
                cursor: pointer;
                img {
                    height: 20px !important;
                }
            }
        }
    }
    
    .our-client {
        background-color: #676588;
        .client-title {
            padding: 10% 20% 15% 20%;
            position: relative;
            .img-holder {
                position: relative;
                height: 250px;
                width: 300px;
                padding-left: 60px;
            }
            .title {
                position: absolute;
                left: 0;
                top: 12%;
                h1 {
                    font-weight: bold;
                }
                .head1 {
                    color: #fff;
                    margin-bottom: 0;
                }
                .head2 {
                    margin-top: 10px;
                    color: #b5b5b5;
                    margin-top: 0;
                }
            }
            .our-img {
                position: absolute;
                left: 0;
                bottom: 22%;
                width: 290px;
            }
        }
        .content-slider {
            padding: 15% 20% 20% 5%;
            position: relative;
            .flexslider {
                background-color: transparent;
                color: #fff;
            }
            p {
                text-align: justify;
                position: relative;
                .quote-left {
                    position: absolute;
                    top: -20px;
                    left: -35px;
                    width: 25px;
                }
                .quote-right {
                    position: absolute;
                    bottom: -20px;
                    right: -10px;
                    width: 25px;
                }
            }
            .flex-control-nav {
                z-index: 222;
                bottom: -100px;
                a {
                    background-color: #8E9092;
                }
                .flex-active {
                    background-color: #fff;
                }
            }
            .client-img {
                position: absolute;
                right: 0;
                width: 500px;
            }
        }
    }
    
    .contact {
        .address {
            background-image: url("../img/contact-bg.jpeg");
            background-position: 100%;
            background-size: cover;
        }
        .addr-bg {
            background-color: rgba(0, 0, 0, 0.4);
            padding: 10% 0 10% 10%;
        }
        .address-box {
            background-color: rgba(103, 101, 136, 0.58);
            border-left: 4px solid #fff;
            padding: 20px;
            display: inline-block;
            h1 {
                color: #fff;
                font-weight: bold;
            }
            p {
                color: #fff;
                font-size: 16px;
            }
        }
        .con-saying {
            font-size: 34px;
        }
        .contact-title {
            padding: 5% 0 0 0;
            .img-holder {
                position: relative;
                height: 250px;
                width: 300px;
                padding-left: 60px;
            }
            .title {
                position: absolute;
                left: 28px;
                top: 12%;
                h1 {
                    font-weight: bold;
                }
                .head1 {
                    color: $brand-primary;
                    margin-bottom: 0;
                    // margin-bottom: 0;
                }
                .head2 {
                    margin-top: 10px;
                    margin-top: 0;
                }
            }
        }
        .contact-us {
            .contact-form {
                padding-left: 60px;
                margin-bottom: 90px;
                input {
                    margin-bottom: 20px;
                    border: 0;
                    border-bottom: 1px solid #ccc !important;
                }
                textarea {
                    resize: none;
                    margin-bottom: 20px;
                    border: 0;
                    border-bottom: 1px solid #ccc !important;
                }
            }
            .map {
                padding-left: 60px;
            }
        }
    }
    
    .about-us {
        .banner {
            background-image: url("../img/about-banner.jpeg");
            background-position: 100%;
        }
        .banner-bg {
            background-color: rgba(0, 0, 0, 0.4);
            padding: 10% 10% 10% 10%;
        }
        .about-box {
            background-color: rgba(103, 101, 136, 0.58);
            border-left: 4px solid #fff;
            padding: 20px;
            display: inline-block;
            h1 {
                color: #fff;
                font-weight: bold;
            }
            p {
                color: #fff;
                font-size: 16px;
            }
        }
        .about-title {
            padding: 70px 0 0 90px;
            .img-holder {
                position: relative;
                height: 250px;
                width: 300px;
                padding-left: 60px;
            }
            .title {
                position: absolute;
                left: 28px;
                top: 12%;
                h1 {
                    font-weight: bold;
                }
                .head1 {
                    color: $brand-primary;
                    margin-bottom: 0;
                    // margin-bottom: 0;
                }
                .head2 {
                    margin-top: 10px;
                    margin-top: 0;
                }
            }
        }
        .about-content {
            .content {
                padding: 66px 90px 0 80px;
                p {
                    text-align: justify;
                }
            }
        }
    }
    
    .collection {
        .collection-title {
            padding: 50px 0 0 50px;
            .img-holder {
                position: relative;
                height: 250px;
                width: 300px;
                padding-left: 60px;
            }
            .title {
                position: absolute;
                left: 28px;
                top: 12%;
                h1 {
                    font-weight: bold;
                }
                .head1 {
                    color: $brand-primary;
                    margin-bottom: 0;
                    // margin-bottom: 0;
                }
                .head2 {
                    margin-top: 10px;
                    margin-top: 0;
                }
            }
        }
        .what-we-have {
            padding-top: 80px;
            text-align: center;
            font-size: 40px;
        }
        .product-collection {
            .img-holder {
                position: relative;
                overflow: hidden;
                cursor: pointer;
                .collect-name {
                    position: absolute;
                    top: 42%;
                    font-size: 34px;
                    width: 100%;
                    color: #fff;
                    text-align: center;
                    z-index: 222;
                }
                img {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                }
                &:hover {
                    img {
                        -webkit-transform: scale(1.3);
                        transform: scale(1.3);
                    }
                    .overlay {
                        display: block;
                    }
                }
            }
            .overlay {
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);
                top: 0;
                left: 0;
            }
        }
    }
    
    .product-cat {
        .product-title {
            background-image: url("../img/title-bg.jpg");
            background-size: cover;
            background-attachment: fixed;
            padding: 60px 0;
            font-size: 60px;
            color: #fff;
            text-align: center;
        }
        .row {
            margin-bottom: 15px;
        }
        .img-holder {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
            }
            &:hover {
                img {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                }
                .overlay {
                    display: block;
                }
            }
        }
        .overlay {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            top: 0;
            left: 0;
        }
        .sub-cat {
            padding: 50px 0;
        }
        .sub-cat-name {
            position: absolute;
            top: 42%;
            font-size: 28px;
            width: 100%;
            color: #fff;
            text-align: center;
            z-index: 222;
        }
        .breadcrumb {
            margin-bottom: 0px !important;
            /*ol {
                margin-bottom: 0px !important;
            }*/
        }
        .bread {
            background-color: #f5f5f5;
            padding: 5px 0;
            font-size: 20px;
            margin-bottom: 15px;
            li+li {
                &:before {
                    content: ">  ";
                }
            }
        }
    }
    
    .product-detail {
        /*background-image: url(../img/whistler-swatch.jpg);*/
        background-size: cover;
        position: relative;
        .tab-select {
            position: absolute;
            top: 0;
            width: 100%;
            background-color: #f1eeee;
            padding-top: 2px;
            a {
                font-size: 18px;
                padding: 30px 60px;
            }
            .tabs {
                display: inline-block;
                font-size: 18px;
                text-align: center;
                position: relative;
                width: 15%;
                padding: 30px 0;
                color: #343434;
                &:active {
                    background-color: #ebebeb;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            .arrow-down {
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid #fff;
                bottom: -15px;
                left: 40%;
                position: absolute;
            }
        }
    }
    
    @import "fancybox-override";
    @import "mobile";