<section class="about-us">
    <div class="banner">
        <div class="banner-bg">
            <div class="about-box">
                <h1>ABOUT US</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque excepturi facilis sint placeat nam! Optio,
                    repudiandae officiis cum tempore nisi, perspiciatis modi corporis aperiam fuga, magni quasi expedita,
                    doloribus sint.</p>
            </div>
        </div>
    </div>
    <div class="about-content">
        <div class="row">
            <div class="col-md-4">
                <div class="about-title">
                    <div class="img-holder">
                        <div class="title">
                            <h1 class="head1">ABOUT</h1>
                            <h1 class="head2">US</h1>
                        </div>
                        <img src="img/window.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet veniam consectetur quaerat laboriosam
                        quisquam, repellat. Amet tenetur architecto voluptatum error fugit eveniet perspiciatis consequatur
                        natus? Illo voluptatibus sit nihil soluta.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore illo error minus mollitia laboriosam,
                        neque consequuntur, repellendus quidem aliquam, ipsum suscipit iste esse numquam, doloribus nobis
                        animi quo reprehenderit consequatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                        nulla suscipit quos amet facere voluptatum aliquam tempora! Dolor, sint ducimus, maxime ad non modi
                        similique qui earum doloremque, tenetur asperiores.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore illo error minus mollitia laboriosam,
                        neque consequuntur, repellendus quidem aliquam, ipsum suscipit iste esse numquam, doloribus nobis
                        animi quo reprehenderit consequatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                        nulla suscipit quos amet facere voluptatum aliquam tempora! Dolor, sint ducimus, maxime ad non modi
                        similique qui earum doloremque, tenetur asperiores.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>