<section class="collection">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pad-rem">
                <div class="collection-title">
                    <div class="img-holder">
                        <div class="title">
                            <h1 class="head1">OUR</h1>
                            <h1 class="head2">COLLECTION</h1>
                        </div>
                        <img src="img/window.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-8 pad-rem">
                <div class="what-we-have">
                    <p>Let us help you find the perfect <br> floor for your home.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="product-collection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 pad-rem">
                    <div class="img-holder" ui-sref="product-cat">
                        <img src="img/challet.jpg" class="img-responsive" alt="">
                        <div class="collect-name">
                            <p>Challet</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 pad-rem">
                    <div class="img-holder" ui-sref="product-cat"><img src="img/vintage-loft.jpg" class="img-responsive" alt="">
                        <div class="collect-name">
                            <p>Vintage Loft</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 pad-rem">
                    <div class="img-holder">
                        <img src="img/salt-box.jpg" class="img-responsive" alt="">
                        <div class="collect-name">
                            <p>Salt Box</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 pad-rem">
                    <div class="img-holder">
                        <img src="img/gallery.jpg" class="img-responsive" alt="">
                        <div class="collect-name">
                            <p>Gallery</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 pad-rem">
                    <div class="img-holder">
                        <img src="img/brick.jpg" class="img-responsive" alt="">
                        <div class="collect-name">
                            <p>Brick & Board</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 pad-rem">
                    <div class="img-holder">
                        <img src="img/storehouse.jpg" class="img-responsive" alt="">
                        <div class="collect-name">
                            <p>Storehouse Plank</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 pad-rem">
                    <div class="img-holder">
                        <img src="img/eighteen.jpg" class="img-responsive" alt="">
                        <div class="collect-name">
                            <p>Eighteen Seventy Five</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 pad-rem">
                    <div class="img-holder">
                        <img src="img/pondesera.jpg" class="img-responsive" alt="">
                        <div class="collect-name">
                            <p>Ponderosa</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 pad-rem">
                    <div class="img-holder">
                        <img src="img/see-more.jpg" class="img-responsive" alt="">
                        <div class="collect-name">
                            <p>Salt Box</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>