<section class="contact">
    <div class="address">
        <div class="addr-bg">
            <div class="address-box">
                <h1>ADDRESS</h1>
                <p>339/2,<br> ANANT RAMAIAH WOOLEN FACTORY COMPOUND,<br> MYSORE ROAD,<br> BAPULI NAGAR,<br> Karnataka 560026.
                </p>
            </div>
        </div>
    </div>
    <div class="contact-title">
        <div class="container">
            <div class="img-holder">
                <div class="title">
                    <h1 class="head1">CONTACT</h1>
                    <h1 class="head2">US</h1>
                </div>
                <img src="img/window.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form form-group">
                        <input type="text" class="form-control" placeholder="YOUR NAME" id="name">
                        <input type="email" class="form-control" placeholder="EMAIL ADDRESS" id="email">
                        <textarea class="form-control" rows="5" placeholder="YOUR MESSAGE" id="comment"></textarea>
                        <button type="submit" class="btn purple-btn">SEND YOUR MESSAGE</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.2674320974484!2d77.54142849233979!3d12.954731588919458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3e0df066424d%3A0x7c9a63a59d69975b!2sEuro+Flooring+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1478068957551"
                            width="400" height="272" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>