<section class="home-page">
    <div class="banner">
        <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
            <li>
                <div class="item">
                    <figure class="mim8 ng-scope">
                        <img ng-src="{{s.img}}">
                        <div class="links">
                            <h3 class="head1">{{s.head1}}</h3>
                            <h2 class="head2">{{s.head2}}</h2>
                            <hr>
                            <button type="button" class="btn banner-btn">{{s.button}}</button>
                        </div>
                    </figure>
                </div>
            </li>
        </flex-slider>
    </div>
    <div class="what-we-do1">
        <div class="what-we-do2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content">
                            <div class="img-holder">
                                <div class="title">
                                    <h1 class="head1">WHAT</h1>
                                    <h1 class="head2">WE DO</h1>
                                </div>
                                <img src="img/window.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="content-slider">
                                <flex-slider flex-slide="s in mySlides2 track by $index" prev-text="" next-text="">
                                    <li>
                                        <h4>{{s.head}}</h4>
                                        <p>{{s.para}}</p>
                                    </li>
                                </flex-slider>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="we-do">
                            <div class="img-slider">
                                <flex-slider flex-slide="s in mySlides3 track by $index" prev-text="" next-text="">
                                    <li>
                                        <img ng-src="{{s.img}}">
                                    </li>
                                </flex-slider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>