<section class="home-page">
    <div class="banner">
        <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
            <li>
                <div class="item">
                    <figure class="mim8 ng-scope">
                        <img ng-src="{{s.img}}">
                        <div class="links">
                            <h3 class="head1">{{s.head1}}</h3>
                            <h2 class="head2">{{s.head2}}</h2>
                            <hr>
                            <button type="button" class="btn banner-btn">{{s.button}}</button>
                        </div>
                    </figure>
                </div>
            </li>
        </flex-slider>
    </div>
    <div class="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-md-6  pad-rem">
                    <div class="content">
                        <div class="img-holder">
                            <div class="title">
                                <h1 class="head1">WHAT</h1>
                                <h1 class="head2">WE DO</h1>
                            </div>
                            <img src="img/window.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="what-img">
                            <img src="img/what.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="content-slider">
                            <flex-slider flex-slide="s in mySlides2 track by $index" prev-text="" next-text="">
                                <li>
                                    <h4>{{s.head}}</h4>
                                    <hr class="dash">
                                    <p>{{s.para}}</p>
                                </li>
                            </flex-slider>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  pad-rem">
                    <div class="we-do">
                        <div class="img-slider">
                            <flex-slider flex-slide="s in mySlides3 track by $index" prev-text="" next-text="">
                                <li>
                                    <img ng-src="{{s.img}}">
                                </li>
                            </flex-slider>
                        </div>
                        <div class="we-do-img">
                            <img src="img/we-do.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-process">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 pad-rem" autoHeight>
                    <div class="process-content" autoHeight>
                        <div class="img-holder">
                            <div class="title">
                                <h1 class="head1">OUR</h1>
                                <h1 class="head2">PROCESS</h1>
                            </div>
                            <img src="img/purple-window.jpg" class="img-responsive" alt="">
                        </div>
                        <p class="description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        </p>
                        <div class="our-img">
                            <img src="img/our.png" class="img-responsive" alt="">
                        </div>
                        <div class="process-img">
                            <img src="img/process.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pad-rem">
                    <div class="side-image">
                        <div class="process-steps">
                            <div class="row row1">
                                <div class="col-md-6">
                                    <div class="step">
                                        <div class="step-img">
                                            <img src="img/interview.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="step-content">
                                            <h4>Meet & Agree</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                                et quasi architecto beatae vitae dicta sunt explicabo et. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="step">
                                        <div class="step-img">
                                            <img src="img/interview.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="step-content">
                                            <h4>Meet & Agree</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                                et quasi architecto beatae vitae dicta sunt explicabo et.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="step">
                                        <div class="step-img">
                                            <img src="img/design-tool.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="step-content">
                                            <h4>Design & Create</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                                et quasi architecto beatae vitae dicta sunt explicabo et.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="step">
                                        <div class="step-img">
                                            <img src="img/light-bulb.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="step-content">
                                            <h4>Build & Install</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                                et quasi architecto beatae vitae dicta sunt explicabo et.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-product">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 pad-rem">
                    <div class="product-content">
                        <div class="product-title">
                            <div class="img-holder">
                                <div class="title">
                                    <h1 class="head1">OUR</h1>
                                    <h1 class="head2">PRODUCT</h1>
                                </div>
                                <img src="img/window.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="our-img">
                                <img src="img/our1.png" class="img-responsive" alt="">
                            </div>
                            <div class="product-img">
                                <img src="img/product.png" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="design-range">
                            <p>ALL</p>
                            <p>ENGINEERED FLOORING</p>
                            <p>EXTERIOR DECKING (WPC)</p>
                            <p>LAMINATE RANGE</p>
                        </div>
                        <div class="social-icons">
                            <div class="img-holder ">
                                <img src="img/facebook.jpg" class="img-responsive" height="20px" alt="">
                            </div>
                            <div class="img-holder">
                                <img src="img/twitter.jpg" class="img-responsive" height="20px" alt="">
                            </div>
                            <div class="img-holder">
                                <img src="img/google.jpg" class="img-responsive" height="20px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 pad-rem">
                    <div class="abc">
                        <div class="row-flex">
                            <div class="col-flex">
                                <div class="flex-holder">
                                    <img src="img/a1.jpg" class="img-responsive" alt="">
                                    <div class="black-box"><img src="img/search-icon.png" class="img-responsive" alt=""></div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="flex-holder">
                                    <img src="img/a2.jpg" class="img-responsive" alt="">
                                    <div class="black-box"><img src="img/search-icon.png" class="img-responsive" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="row-flex">
                            <div class="col-flex">
                                <div class="flex-holder">
                                    <img src="img/a3.jpg" class="img-responsive" alt="">
                                    <div class="black-box"><img src="img/search-icon.png" class="img-responsive" alt=""></div>
                                </div>
                            </div>
                            <div class="col-flex">
                                <div class="flex-holder">
                                    <img src="img/a4.jpg" class="img-responsive" alt="">
                                    <div class="black-box"><img src="img/search-icon.png" class="img-responsive" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-client">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 pad-rem">
                    <div class="client-title">
                        <div class="img-holder">
                            <div class="title">
                                <h1 class="head1">OUR</h1>
                                <h1 class="head2">CLIENT</h1>
                            </div>
                            <img src="img/purple-window.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="our-img">
                            <img src="img/our.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pad-rem">
                    <div class="content-slider">
                        <flex-slider flex-slide="s in mySlides4 track by $index" prev-text="" next-text="">
                            <li>
                                <p>{{s.para}}</p>
                            </li>
                        </flex-slider>
                        <div class="client-img">
                            <img src="img/client.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>