<flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
    <li>
        <div class="item">
            <figure class="mim8 ng-scope">
                <img ng-src="{{s.img}}">
                <figcaption>
                    <div class="links">
                        <h2>{{s.head1}}</h2>
                        <h2>{{s.head2}}</h2>
                        <button>{{s.button}}</button>
                    </div>
                </figcaption>
            </figure>
        </div>
    </li>
</flex-slider>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
                <li>
                    <div class="item">
                        <figure class="mim8 ng-scope">
                            <img ng-src="{{s}}">
                            <figcaption>
                                <div class="links">
                                    <h2>INTERIOR REMODELING WITH EXCELLENT FLOORING MAKES</h2>
                                    <h2>YOUR LIFE EASIER</h2>
                                    <button>OUR PORTFOLIO</button>
                                </div>
                            </figcaption>
                        </figure>
                    </div>

                </li>
            </flex-slider>
        </div>

        <div class="col-md-6">
            <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
                <li>
                    <div class="item">
                        <figure class="mim8 ng-scope">
                            <img ng-src="{{s}}">
                            <figcaption>
                                <div class="links">
                                    <h2>INTERIOR REMODELING WITH EXCELLENT FLOORING MAKES</h2>
                                    <h2>YOUR LIFE EASIER</h2>
                                    <button>OUR PORTFOLIO</button>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </li>
            </flex-slider>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>OUR</h1>
            <h1>PROCESS</h1>
            <P>SABHJBHJGHABAHG</P>
        </div>

        <div class="col-md-6">
            <div class="col-md-6">
                <img  src="img/light-bulb.png" class="img-responsive ">
                <strong>MEET & AGREE</strong>
                <p>sdddssssssssss csdsadsa sdsdsas ssdd</p>

            </div>
            <div class="col-md-6">
                <img  src="img/light-bulb.png" class="img-responsive ">
                <strong>MEET & AGREE</strong>
                <p>sdddssssssssss csdsadsa sdsdsas ssdd</p>

            </div>
            <div class="col-md-6">
              <img  src="img/light-bulb.png" class="img-responsive ">
                <strong>MEET & AGREE</strong>
                <p>sdddssssssssss csdsadsa sdsdsas ssdd</p>

            </div>
            <div class="col-md-6">
                <img  src="img/light-bulb.png" class="img-responsive ">
                <strong>MEET & AGREE</strong>
                <p>sdddssssssssss csdsadsa sdsdsas ssdd</p>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h1>OUR</h1>
                <h1>PRODUCT</h1>
                <P>SABHJBHJGHABAHG</P>
            </div>
            <div class="col-md-12">
                <P>ALL</P>
                <p>ENGINEERED FLOORING</p>
                <p>EXTERIOR DECKING(WPC)</p>
                <p>LAMINATE RANGE</p>
            </div>
            <div class="col-md-12">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google-plus"></i>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-6">
                <div class="events">
                    <img src="img/123.jpg" class="img-responsive ">
                    <div class="over-layer ">
                        <img src="img/Layer-4.png" class="img-responsive ">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="events">
                    <img src="img/123.jpg" class="img-responsive ">
                    <div class="over-layer ">
                        <img src="img/Layer-4.png" class="img-responsive ">
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="events">
                    <img src="img/123.jpg" class="img-responsive ">
                    <div class="over-layer ">
                        <img src="img/Layer-4.png" class="img-responsive ">
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="events">
                    <img src="img/123.jpg" class="img-responsive ">
                    <div class="over-layer ">
                        <img src="img/Layer-4.png" class="img-responsive ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>OUR</h1>
            <h1>CLIENT</h1>
        </div>

        <div class="col-md-6">
            <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
                <li>
                    <p class="color-white client-descp text-left ng-binding">
                      Love the collection and the fact that I can get matching accessories with every outfit!</p>
                </li>
            </flex-slider>
        </div>
    </div>
</div>
