<section class="product-cat">
    <div class="product-title">
        <p>Chalet</p>
    </div>
    <div class="bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="collection">Collection</a></li>
                <li class="active">Challet</li>
            </ol>
        </div>
    </div>
    <div class="sub-cat">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="img-holder">
                        <img src="img/whistler.jpg" class="img-responsive" alt="">
                        <div class="sub-cat-name">
                            <p>Whistler</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-holder">
                        <img src="img/vail.jpg" class="img-responsive" alt="">
                        <div class="sub-cat-name">
                            <p>Vail</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-holder">
                        <img src="img/tremblant.jpg" class="img-responsive" alt="">
                        <div class="sub-cat-name">
                            <p>Tremblant</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-holder">
                        <img src="img/meribel.jpg" class="img-responsive" alt="">
                        <div class="sub-cat-name">
                            <p>Meribel</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="img-holder">
                        <img src="img/tahoe.jpg" class="img-responsive" alt="">
                        <div class="sub-cat-name">
                            <p>Tahoe</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-holder">
                        <img src="img/meribel.jpg" class="img-responsive" alt="">
                        <div class="sub-cat-name">
                            <p>Meribel</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-holder">
                        <img src="img/aspen.jpg" class="img-responsive" alt="">
                        <div class="sub-cat-name">
                            <p>Aspen</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-holder">
                        <img src="img/meribel.jpg" class="img-responsive" alt="">
                        <div class="sub-cat-name">
                            <p>Meribel</p>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>