<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>EURO FLOOR</h1>
                <p>snbhujbcsdbch</p>
            </div>
            <div class="col-md-4">
                <h3>QUICK LINK</h3>
                <ul class="list-group">
                    <li class="list Robotor"><a class="whit_color" ui-sref="home" href="#/">HOME</a></li>
                    <li class="list Robotor"><a class="whit_color" ui-sref="company" href="#/">COMPANY</a></li>
                    <li class="list Robotor"><a class="whit_color" ui-sref="collection" href="#/">COLLECTION</a></li>
                    <li class="list Robotor"><a class="whit_color" ui-sref="virtual-room" href="#/">VIRTUAL ROOM</a></li>
                    <li class="list Robotor"><a class="whit_color" ui-sref="contact" href="#/">CONTACT</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>CONTACT US</h3>
                <ul class="list-group">
                    <li class="list Robotor">  <img  src="img/light-bulb.png" class="img-responsive "> <P>339/2,ANANT RAMAIAH WOOLEN FACTORY COMPOUND,<br>MYSORE ROAD, BAPULI NAGAR, </P></li>
                    <li class="list Robotor"><img  src="img/light-bulb.png" class="img-responsive "><a class=""  href="#/">+91-9880589241</a></li>
                    <li class="list Robotor"><img  src="img/light-bulb.png" class="img-responsive "><a class=""  href="#/">080-33126364</a></li>
                    <li class="list Robotor"><img  src="img/light-bulb.png" class="img-responsive "><a class=""  href="#/">customercare@euroflooring.co.in</a></li>
                    <li class="list Robotor"><img  src="img/light-bulb.png" class="img-responsive "><a target="_blank"class="" href="www.euroflooring.co.in">www.euroflooring.co.in</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
