<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" ui-sref="home"><img src="img/EURO-FLOOR-LOGO.jpg" alt="logo" width="200"> </a>
            </div>
            <div id="nav-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav  pull-right pad18">
                    <li><a class="headA" ui-sref="home">HOME</a></li>
                    <li><a class="headA" ui-sref="company">COMPANY</a></li>
                    <li><a class="headA" ui-sref="collection">COLLECTION</a></li>
                    <li><a class="headA" ui-sref="virtual-room">VIRTUAL ROOM</a></li>
                    <li><a class="headB" ui-sref="contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>